@font-face {
  font-family: NotoSerif;
  src: url(Noto_Serif/NotoSerif-Regular.ttf);
}

html, body{
  font-family: NotoSerif;
  background-color: rgb(223, 198, 172);
  height: 100%;
}

.header{
  text-align: center;
  background-color: #837649;
  width: 100%;
}


.maincontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.libcontainer{
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.display{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d623c;
  margin: 15% auto; 
  border: 1px solid #888;
  width: 35%;
  height: 35%; 
}

.form{
  display: flex;
  flex-direction: column;
}
input{
  padding: 9px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.submit{
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(120, 117, 117);
}
.submit:hover{
  background-color: wheat;
  border: 4px;
  border-color: black;
}

.libcontainer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 86vh;
}

#addbtn{
  font-size: 40px;
  border-radius: 25px;
  width: 50px;
  margin: 2%;
  background-color: #6e83b6;
  border: 0;

}
#addbtn:hover{
  background-color: #537be1;
}

#addbtn:active{
  transform: translateY(3px);
  box-shadow: 0,0, blue;
}

.close {
    display: none;
}

.bookitem{
  margin-inline:5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 5px;
  border-style: ridge;
  border-color: rgb(15, 48, 18);
  width: 200px;
  height: 200px;
  padding: 30px;
  background-color: rgb(196, 116, 19);
  overflow: auto;
}

.bookitem:hover{
  border-color: rgb(255, 255, 255);
}

.deletebutton, .readbutton{
  border-radius: 10px;
  flex-direction: row;
  width: 100%;
  margin: 1px;
  margin-top: 10px;
  padding:7px;
  display: flex;
  justify-content: center;
}


.footer {
  text-align: center;
  gap: 10px;
  width: 100%;
  background-color: #837649;
  font-size: 16px;
}

a{
    color: inherit;
    text-decoration:overline;
}